.App{ margin: 0 auto; }
.logo{ height: 80px; }

#table, .student_info, .marks, .remarks{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#table td, #table th, .marks th, .marks td, .remarks th, .remarks td{
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.student_info { border: 1px solid #ddd; }
.student_info th, .student_info td{
    padding: 5px;
    font-size: 14px;
}
.marks td{ 
    text-align: left; 
    padding-left: 20px;
}
.remarks td{ height: 10px }